::ng-deep .footerClass {
    position: absolute !important;
    bottom: 3%;
}

::ng-deep .card-container {
    width:50%;
}

::ng-deep .dropdown {
    width:200px;
}

::ng-deep .right-container {
    width:25%;
}